.container__menu-title {
  color: rgb(8, 8, 8);
}

.container__menu-title > h1{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 8em;
  font-family: 'segoe UI';
}

.container__menu-title > hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
