.container__menu-title {
  color: white;
}

.container__menu-title > h1{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 8em;
  font-family: 'segoe UI';
}

.container__menu-title > hr{
  margin-top: 20px;
  margin-bottom: 10px;
}
