.small__card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  padding: 10px;

}

.small__card img{
  width: 80%;
  height: auto;
}

.small__content{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

.small__content > span{
  color: rgb(125, 129, 129);
  font-size: 11px;
  margin-bottom: 10px;
}

.small__content > h3{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

