.small__card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  padding: 10px;

}

.small__card img{
  width: 75%;
  height: auto;
}

.small__content{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 100%;
}

.small__content > span{
  color: rgb(125, 129, 129);
  font-size: 11px;
  margin-bottom: 10px;
}

.small__content > h3{
  font-size: 15px;
}

